* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*section1*/
#section-1 {
    background-color: #F3F5F9;
}

.title {
    padding: 35px 0;
    text-align: center;
    text-transform: uppercase;
}

.logo_container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.logo_img {
    width: 100%;
}

.logo_wrap {
    flex-basis: calc((100% / 6) - 20px);
}

.link_section-1 {
    text-align: center;
    padding: 25px 0 35px 0;
}

@media screen and (max-width: 1024px){
    .logo_wrap {
        flex-basis: calc((100% / 3) - 20px);
    }
}

@media screen and (max-width: 500px){
    .logo_wrap {
        flex-basis: calc((100% / 2) - 20px);
    }
}

@media screen and (max-width: 425px) {
    .logo_wrap {
        flex-basis: 100%;
    }
}

/*section-2*/
.due {
    width: 60%;
    margin: auto;
}

.deploy_container {
    width: 80%;
    margin: auto;
    display: flex;
}

.deploy_menu {
    flex-basis: 15%;
}

.deploy_info {
    flex-basis: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.deploy_features {
    width: 50%;
    padding: 15px 15px 0 0;
}

@media screen and (max-width: 425px) {
    .deploy_container, .deploy_info {
        display: block;
    }


}